
* {
  color: #b5bfe2;
  border: 0;
  border-radius: 0;
  padding: 0 0;
  font-family: JetBrains mono NL;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom:2px;
}

window#waybar {
  background:rgba (30, 30, 50, 0.95);
  border-radius: 9px 9px 9px 9px; 
}

#workspaces button {
  padding: 2px 0px;
  border-bottom: 2px;
  color: #c6a0f6;
  border-color: #8aadf4;
  border-style: dotted;
  margin-top:2px;
  margin-left: 0px;
}

#workspaces button.active {
  border-color: #c6a0f6;
  border-style: solid;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #custom-go-pray, #network, #pulseaudio, #tray, #window,#custom-launcher,#custom-power,#custom-updates ,#custom-network_traffic,#custom-weather{
  padding: 0 2px;
  border-bottom: 2px;
  border-style: solid;
}

/* -----------------------------------------------------------------------------
* Module styles
* -------------------------------------------------------------------------- */


#clock {
  color:#c6a0f6;
}

@keyframes blink {
to {
  color: #4c566a;
  background-color: #eceff4;
}
}

#cpu {
  color:#8aadf4 ;
}

#memory {
  color: #c6a0f6;
}

#network.disabled {
  color:#ed8796;
}

#network{
  color:#8aadf4;
}

#network.disconnected {
  color: #ed8796;
}

#pulseaudio {
  color: #8aadf4;
}

#pulseaudio.muted {
  color: #ed8796;
}

#temperature {
  color: #8aadf4;
}

#temperature.critical {
  color: #ed8796;
}

#idle_inhibitor {
  color: #f0c6c6;
}

#tray {
  color: #c6a0f6;
}


#custom-launcher{
  font-size: 16px;
  background-image: url('./launcher.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  border-style: hidden;
  padding: 0px;
  margin: 0px;
}

#custom-power{
  border-style: hidden;
  margin-top:2px;    
}

#window{
  border-style: hidden;
  margin-top:1px;  
}    
#custom-go-pray{
  color: #c6a0f6;
}
